	::-webkit-scrollbar {
    			width: 3px;
				}
			/* Track */
			::-webkit-scrollbar-track {
				background: black; 
			}

			/* Handle */
			::-webkit-scrollbar-thumb {
				background: grey; 
			}

			/* Handle on hover */
			::-webkit-scrollbar-thumb:hover {
				background: #b7b7b7; 
}
			html,body{
				margin:0;
				width : 100%;
				height : 100%;
				overflow : hidden;
			}
			.container{
				width: 100%;
				height : 100%;
				display: grid;
				grid-template-rows: 8vh 16vh 68vh 8vh;
				grid-template-columns: 25vw 25vw 30vw 20vw;
				grid-template-areas: 'topka topka topka topka'
									'header header header header'
									 'main main main main'
									 'looter looter footer footer';
				align-items: center;
				justify-items : center;
				user-select:none;
				background: black;
			}
			.topka{
				grid-area: topka;
				width: 30%;
				height: 100%;
				color: #a7a7a7;
				text-align: center;
				line-height: 8vh;
				font-size: 5vh;
				font-weight: bold;
				/* letter-spacing: 0px; */
				font-family: 'Khand', sans-serif;
				background: #8a8a8a1f;
			}
			
			#content{
				grid-area: header;
				width: 95%;
				height: 70%;
				align-self: center;
				justify-self: center;
				color: #c1c1c1a1;
				background: #4a4a4a70;
				border: none;
				outline: none;
				/* font-family: 'Rajdhani', sans-serif; */
				padding-left : 1vw;
				padding-right: 1vw;
				/* letter-spacing: 1px; */
				resize: none;
				overflow-y: scroll;
				font-size: 3vh;
			}
			.main{
				grid-area: main;
				display: grid;
				grid-template-rows: repeat(5,1fr);
				grid-auto-flow: column;
				grid-template-areas: 'verse' 'line' 'word' 'letter' 'qualia';
				background-color: #000000f2;
				width: 100%;
				height: 100%;
				text-align: center;
				outline: none;
				align-items: center;
				user-select: none;
				font-family: 'Rajdhani', sans-serif;
				color: #cccccc;
				font-size : 3vh;
			}
			
			.verseBox{
				grid-area: verse;
				padding : 3px;
			}
			.lineBox{
				grid-area : line;
			}
			.wordBox{
				grid-area : word;
				
			}
			.letterBox{
				grid-area : letter;
			}
			.qualia{
				grid-row : qualia;
				font-family: 'Khand',sans-serif;
				font-size : 4vh;
				color : #b7b7b7;
				word-spacing: 3px;
				padding-left : 1vw;
				padding-right: 1vw;
			}
			.footer{
				grid-area: footer;
				width: 100%;
				height: 100%;
				font-size: auto;
				text-align: center;
				background: #6e6f6b;
				color: #e4e4e4;
				user-select: none;
				cursor: pointer;
				font-size: 5vh;
				/* align-self: center; */
				line-height: 8vh;
				font-family: 'Khand', sans-serif;
			}
			.footer:hover{
					opacity : 0.7;
			}
			.footer:active{
				opacity : 0.7;
			}
			.looter{
				grid-area:looter;
				background : #8a8a8a;
				cursor : pointer;
				width: 100%;
				height: 100%;
				font-size: auto;
				text-align: center;
				color: #020202c7;
				user-select: none;
				cursor: pointer;
				font-size: 5vh;
				/* align-self: center; */
				line-height: 8vh;
				font-family: 'Khand', sans-serif;
			}
			.looter:active{
				opacity : 0.7;
			}
			.looter:hover{
				opacity : 0.7;
			}
			
			.flex-container {
  				display: flex;
  				flex-direction: row;
				justify-content: center;
				flex-wrap:wrap;
			}
			.dabba {
				
				border-bottom : 1px dashed #cccccc;
				width: auto;
				height: auto;
				margin: 5px;
				padding: 1px;
				padding-left: 3px;
				padding-right: 3px;
				text-align: center;
				/* border-radius: 6px; */
				/* line-height: 75px; */
				color: #b7b7b7;
			}
			.chyawanprash{
				background-color: #2b2b2b;
				margin : 3px;
				border : none;
			}
			@media (orientation: portrait) {
				
				.main{font-size:2.5vh;}
				.topka{font-size:4vh}
				#content{font-size:2vh}
				html,body{overflow-y: auto;}
			}
			@media (orientation: landscape) {
				html,body{overflow-x: auto;}
			}